.button-custom {
    color: #fff;
    font-weight: 600;
    margin: 0;

    &:hover {
        color: #950711 !important;
    }
}

.custom {
    color: #fff;
    font-weight: 600;
    margin: 0;

    &:hover {
        color: #950711;
    }
}
