@media (max-width: 767px) {
    .search {
        margin-bottom: 20px;
        width: 100%;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    min-height: 90px;
}

.logo-link {
    text-decoration: none;
}

.logo {
    background: linear-gradient(285deg, #f92a28 27%, #da1752 100%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
