@media (max-width: 767px) {
    .custom-btn {
        margin-bottom: 10px;
    }
}

.tabs {
    font-family: 'Montserrat', sans-serif !important;

    & .ant-tabs-tab {
        color: rgb(204, 0, 0);
    }
}

.label {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: rgb(204, 0, 0);
    }
}

.name,
.nickname {
    font-weight: 600;
    color: #000;
    font-size: 24px;
    margin: 0;
}

.custom-btn {
    border-radius: 0;
    padding: 20px 40px;
    color: #c00;
    font-size: 16px;
    width: 100%;
    background: linear-gradient(285deg, #f92a28 27%, #da1752 100%, #fff 100%) !important;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

.address {
    color: #000;
    font-weight: 500;
    font-size: 22px;
}

.articles {
    color: gray;
    font-weight: 500;
    font-size: 20px;
}

.bio {
    color: gray;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
}

.img {
    &:hover {
        opacity: 0.8;
        transition: all 0.4s;
    }
}

.name-article {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.4s;

    &:hover {
        color: #c00;
    }
}

.date,
.writer {
    font-size: 14px;
    font-weight: 600;
}
.writer {
    color: #c00;
}

.date {
    color: #212529;
}
