.genre {
    font-weight: 600;
    color: rgb(204, 0, 0);
    text-align: center;

    &:hover {
        transition: all 0.3s ease-in-out;
        color: maroon;
    }
}

.date {
    color: rgb(52, 58, 64);
    font-weight: 600;
}

.name {
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

.sub-text {
    color: rgb(128, 128, 128);
    font-size: 20px;
    font-weight: 500;
}
.text {
    color: rgb(128, 128, 128);
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    margin: 0;
    color: #000;
    text-align: justify;

    &::first-letter {
        font-size: 7em;
        font-weight: bold;
        color: #333;
        float: left;
        margin-right: 10px;
        line-height: 1;
    }
}

.author {
    font-size: 14px;
    font-weight: 700;
}

.btn-back {
    border-radius: 0;
    padding: 20px 40px;
    color: #c00;
    font-size: 16px;
    border-color: #c00;
    width: 100%;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}
