@media (max-width: 767px) {
    .see-more {
        width: 100%;
    }
}

.name {
    font-weight: 600;
    margin: 0;
}

.link {
    color: #c00;
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
    text-decoration: none;
}

.see-more {
    border-radius: 0;
    padding: 20px 40px;
    color: #c00;
}
